<div>
  <div class='row vh-100' style="background-color: rgb(132, 75, 9);">

    <div class="col-2 vh-100" style=" background-color: rgb(241, 186, 103);">
      <div class=" mt-5  d-flex row g-2">
        <button id="view-recipes" type="button">My recipes</button>

        <button>Add recipes</button>

        <button>Edit recipes</button>
      </div>

    </div>
    {{!-- break --}}
    {{!-- Add a form here!!! --}}
    <div class="card text-center">
      <div class="card-header">
        <h1>Recipe</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment{{recipes.name}}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-danger">Delete</a>
        Share
      </div>
      <div class="card-footer text-muted">
        favorite
      </div>
    </div>
    {{!-- break --}}
  </div>
</div>
</div>