
<div class=" container border border-primary d-flex h-100  p-2 g-col-6">
<aside class="bg-secondary h-100" >
  <div style="width: 140px; margin: 20px " class="text-center">
  <button type="button" class="btn btn-primary " >My Recipes</button><br>
  <button type="button" class="btn btn-primary mt-2 " >Add Recipe</button><br>
  <button type="button" class="btn btn-primary mt-2 " >Edit Recipe</button><br>
  </div>
</aside>

    
</div>