<div>
  <div class='row vh-100' style="background-color: rgb(132, 75, 9);">

    <div class="col-2 vh-100" style=" background-color: rgb(241, 186, 103);">
      <div class=" mt-5  d-flex row g-2">
        <button id="view-recipes" type="button">My recipes</button>
        <button id="add-recipe">Add recipe</button>
      </div>

    </div>

    <div class="col-10 vh-100  d-flex justify-content-center" style=" height: 110px; overflow-y:scroll;">

      <div class=" text-center pt-2  mt-5 bg-light recipes ">
        <h1>My Recipes</h1>
        <hr>

        <div class="d-flex row  justify-content-center m-2 rep-list ">
          <ul id="recipeList">
            {{#each recipeList as |recipe|}}
            <li data-rid={{recipe.id}} id="individualRecipe" type="button">
              {{recipe.name}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/btnRoutes.js"></script>