<div>
  <div class='row vh-100' style="background-color: rgb(132, 75, 9);">

    <div class="col-2 vh-100" style=" background-color: rgb(241, 186, 103);">
      <div class=" mt-5  d-flex row g-2">
        <button id="view-recipes" type="button">My recipes</button>
                {{!-- <button id="home-page" class="view-recipes" type="button">Back</button> --}}
        <button id="add-recipe">Add recipe</button>
        {{!-- <button id="view-recipes" style="display: none;" type="button">My recipes</button> --}}
        {{!-- <button type="button" class="btn-primary" data-toggle="modal" data-target="#share-recipes">Share</button> --}}
      </div>

    </div>
    <div class="modal fade" id="share-recipes" tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Share Recipe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{!-- MODAL --}}
          <div class="modal-body">
            {{msg}}
            <form class="emailForm">
              <div class="form-group">
                <label for="emailRecipient" style="color:black">Email Recipient</label>
                <br>
                <input type="email" class="form-control" id="emailRecipient" 
                placeholder="name@example.com">
              </div>
              <br>
              <div class="form-group">
                <label for="emailSubject" style="color:black">Subject</label>
                <br>
                <textarea spellcheck="true" class="form-control" id="emailSubject" rows="1"></textarea>
              </div>
              <br>
              <div class="form-group">
                <label for="emailMessage" style="color:black">Message</label>
                <br>
                <textarea spellcheck="true" class="form-control" id="emailMessage" rows="3"></textarea>
              </div>
              <button type="submit" value="submit" class="btn btn-primary">Send Email</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {{!-- <button type="submit" form="emailForm" class="btn btn-primary">Send Email</button> --}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 vh-100  d-flex justify-content-center" style=" height: 110px;">

      <div class=" text-center pt-2  mt-5 bg-light recipes ">
        <h1>My Recipes</h1>
        <hr>

        <div class="d-flex row  justify-content-center m-2 rep-list ">
          <ul id="recipeList">
            {{#each recipeList as |recipe|}}
            <li data-rid={{recipe.id}} id="individualRecipe" type="button">
              {{recipe.name}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/btnRoutes.js"></script>
{{!-- <script src="/js/nodeMailer.js"></script> --}}