<div>
  <div class='row vh-100' style="background-color: rgb(132, 75, 9);">

    <div class="col-2 vh-100" style=" background-color: rgb(241, 186, 103);">
      <div class=" mt-5  d-flex row g-2">
        <button id="view-recipes" type="button">Back</button>

        <button id="share-recipes" type="button">Share</button>
      </div>

    </div>
    {{!-- break --}}
    <div class="card text-center recipes" style="margin-left: auto; margin-right: auto; margin-top: 5%; height: fit-content ;">
      <div class="card-header">
        <h1>{{individualRecipe.name}}</h1>
        {{!-- <button style="padding: 10px; background-color:rgb(174, 112, 31)">Share</button> --}}
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: left;">{{individualRecipe.ingredients}}</h5>
        <p class="card-text" style="text-align: left;">{{individualRecipe.instructions}}</p>
      
      </div>
      <div class="card-footer text-muted">
        {{!-- <button id="view-recipes" style="padding: 10px; background-color:rgb(174, 112, 31)">Back</button> --}}
        {{!-- <a href="#" class="btn mx-2 btn-danger">Delete</a> --}}
        <button id="edit-recipe" style="background-color: rgb(139, 90, 29); border: 1px solid rgb(82, 45, 8); padding:5px 50px" type="button">Edit</button>
        {{!-- <a href="#" class="btn btn-danger" style="background-color: rgb(139, 90, 29); border: 1px solid rgb(82, 45, 8) ">Edit</a> --}}
         {{!-- <button id="edit-recipe" type="button" class="btn btn-danger" style="background-color: rgb(139, 90, 29); border: 1px solid rgb(82, 45, 8) ">Edit</button> --}}

        {{!-- <button style="padding: 10px; background-color:rgb(174, 112, 31)">Save</button> --}}
      </div>
    </div>
    {{!-- break --}}
  </div>
</div>
</div>

<script src="/js/btnRoutes.js"></script>