<div>
  <div class='row vh-100' style="background-color: rgb(132, 75, 9);">

    <div class="col-2 vh-100" style=" background-color: rgb(241, 186, 103);">
      <div class=" mt-5  d-flex row g-2">
        <button id="view-recipes" type="button">Back</button>

        <button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Share</button>
      </div>
    </div>

   {{!-- MODAL --}}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Share Recipe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1" style="color:black">Email Recipient</label>
                <br>
                <input type="email" class="form-control" id="exampleFormControlInput1" 
                placeholder="name@example.com">
              </div>
              <br>
              <div class="form-group">
                <label for="exampleFormControlTextarea1" style="color:black">Subject</label>
                <br>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              <br>
              <div class="form-group">
                <label for="exampleFormControlTextarea1" style="color:black">Message</label>
                <br>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send Email</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card text-center recipes" style="margin-left: auto; margin-right: auto; margin-top: 5%; height: fit-content ;">
      <div class="card-header">
        <h1>{{individualRecipe.name}}</h1>
        {{!-- <button style="padding: 10px; background-color:rgb(174, 112, 31)">Share</button> --}}
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: left;">{{individualRecipe.ingredients}}</h5>
        <p class="card-text" style="text-align: left;">{{individualRecipe.instructions}}</p>
      
      </div>
      <div class="card-footer text-muted">
        <button id="edit-recipe" style="background-color: rgb(139, 90, 29); border: 1px solid rgb(82, 45, 8); padding:5px 50px" type="button">Edit</button>
      </div>
    </div>
  </div>
</div>
</div>
<script src="/js/btnRoutes.js"></script>